<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body{padding-top:40px;}
	</style>
</head>
<body>

	<div id="app" class="container">
		<message title="Lorem Ipsum">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</message>
		<message title="Lorem Ipsum 2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </message>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="message.js"></script>

</body>
</html>